<div class="container">
  <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
  <div class="row g-5 mb-5 align-items-center">
    <div class="col-md-4">
      <!-- Image container -->
      {% if page.title == "Home" %}
        {% for item in site.data.publications.featured %}
          <img src="{{ item.img }}" alt="Publication Image" class="img-fluid">
        {% endfor %}
      {% endif %}
    </div>
    <div class="col-md-8">
      {% for item in site.data.publications.featured %}
        <p class="fw-bold">{{ item.name }}</p>
        <p>{{ item.authors }}</p>
        <div class="row">
          <div class="col-md-10">
        </div>
        <div class="col-md-5">
          <p>{{ item.venue }}</p>
          <p>{{ item.key_word }}</p>
          <a href="{{ item.pdf_url }}" class="btn">{{ item.pdf }}</a>
          <a href="{{ item.video_url }}" class="btn">{{ item.video }}</a>
          <a href="{{ item.github }}" class="btn">{{ item.code }}</a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
