<div class="container">
  <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
  <div class="row g-5 mb-5 align-items-center">
    <div class="col-md-4">
      <!-- Image container -->
      {% if page.title == "Home" %}
        {% for item in site.data.publications.featured %}
          <img src="{{ item.img }}" alt="Publication Image" class="img-fluid">
        {% endfor %}
      {% endif %}
    </div>
    <div class="col-md-8">
      {% for item in site.data.publications.featured %}
        <div class="publication-info mb-3">
          <p class="fw-bold">{{ item.name }}</p>
          <p>{{ item.authors }}</p>
        </div>
        <div class="d-flex flex-wrap gap-2"> <!-- Use flexbox and gap utility -->
          <p class="btn btn-success mb-1">{{ item.venue }}</p>
          <p class="btn btn-primary mb-1">{{ item.key_word }}</p>
          <a href="{{ item.pdf_url }}" class="btn btn-info mb-1" role="button">{{ item.pdf }}</a>
          <a href="{{ item.video_url }}" class="btn btn-info mb-1" role="button">{{ item.video }}</a>
          <a href="{{ item.github }}" class="btn btn-info mb-1" role="button">{{ item.code }}</a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
