<div class="container">
  <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
  <div class="row g-5 mb-5 align-items-center">
    <div class="col-md-4">
      <!-- Image container -->
      {% if page.title == "Home" %}
        {% for item in site.data.publications.featured %}
          <img src="{{ item.img }}" alt="Publication Image" class="img-fluid">
        {% endfor %}
      {% endif %}
    </div>
    <div class="col-md-8">
      {% for item in site.data.publications.featured %}
        <div class="publication-info">
          <p class="fw-bold">{{ item.name }}</p>
          <p>{{ item.authors }}</p>
        </div>
<!--         <div class="row">
          <div class="col-2">
            <p class="btn">{{ item.venue }}</p>
          </div>
        </div> -->
        <div class="row">
          <div class="col-1">
            <p class="btn">{{ item.venue }}</p>
          </div>
          <div class="col-1">
            <a href="{{ item.pdf_url }}" class="btn btn-primary mb-1">{{ item.pdf }}</a>
          </div>
          <div class="col-1">
            <a href="{{ item.video_url }}" class="btn btn-primary mb-1">{{ item.video }}</a>
          </div>
          <div class="col-1">
            <a href="{{ item.github }}" class="btn btn-primary mb-1">{{ item.code }}</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
